-e git+git://github.com/etianen/django-require.git#egg=django-require
links-devops>=0.1.7
dapper-devops>=0.1.9
servers.py>=0.1.5
django-apptemplates>=0.0.1
django-breadcrumbs
django-celery-with-redis
django-crispy-forms
django-debug-toolbar
django-debugmail
django-extensions
Django>=1.5.1
Fabric>=1.6.0
ipython>0.13.1
johnny-cache>=1.4
python-memcached
Pillow>=2.0.0
psycopg2>=2.4.6
PyYAML>=3.1
sorl-thumbnail>=11.12
South>=0.7.6
Unipath>=0.2.1
